/*
Theme Name: Vesta
Theme URI: http://arcxx.ir/portfolio/vesta
Author: Farhad Navayazdan (Arcxx)
Author URI: http://arcxx.ir
Description: Simple Blogging Theme for wordpress
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: white, simple, blog, gnu
Text Domain: vesta

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

@font-face {
    font-family: Vazir;
    src: url("fonts/vazir/Vazir-FD.eot");
    src: url("fonts/vazir/Vazir-FD.eot?#iefix") format("embedded-opentype"),
    url("fonts/vazir/Vazir-FD.woff") format("woff"),
    url("fonts/vazir/Vazir-FD.ttf") format("truetype");
    font-weight: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, button, textarea {
    font-family: 'Vazir', 'sans-serif';
}

body {
    height: inherit;
    display: flex;
    flex-direction: column;
    color: #79838c;
}

div.container {
    display: flex;
    flex: auto;
    flex-direction: column;
    max-height: 100%;
}

div.item {
    display: flex;
    flex: auto;
    overflow-y: auto;
    padding: 0rem 1rem 0rem 1rem;
}

#timeline {
    position: relative;
    display: table;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}

#timeline div:after {
    content: '';
    width: 2px;
    position: absolute;
    top: .5rem;
    bottom: 0rem;
    right: 60px;
    z-index: 1;
    background: #C5C5C5;
}

#timeline h3 {
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    color: #888;
    margin: 0;
    font-size: 1em;
    font-weight: 400;
}

@media (min-width: 62em) {
    #timeline h3 {
        font-size: 1.1em;
    }
}

#timeline section.year {
    position: relative;
}

#timeline section.year:first-child section {
    margin-top: -1.3em;
    padding-bottom: 0px;
}

#timeline section.year section {
    position: relative;
    padding-bottom: 1.25em;
    margin-bottom: 2.2em;
}

#timeline section.year section h4 {
    position: absolute;
    bottom: 0;
    font-size: .9em;
    font-weight: 400;
    line-height: 1.2em;
    margin: 0;
    padding: 0 89px 0 0;
    color: #C5C5C5;
}

@media (min-width: 62em) {
    #timeline section.year section h4 {
        font-size: 1em;
    }
}

#timeline section.year section ul {
    list-style-type: none;
    padding: 0 75px 0 0;
    margin: -1.35rem 0 1em;
    max-width: 32rem;
    font-size: 1em;
}

@media (min-width: 62em) {
    #timeline section.year section ul {
        font-size: 1.1em;
        padding: 0 81px 0 0;
    }
}

#timeline section.year section ul:last-child {
    margin-bottom: 0;
}

#timeline section.year section ul:first-of-type:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #C5C5C5;
    border: 2px solid #FFFFFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    right: 54px;
    top: 3px;
    z-index: 2;
}

#timeline section.year section ul li {
    margin-left: .5rem;
}


#timeline section.year section ul li:not(:first-child) {
    margin-top: .4rem;
}

#timeline section.year section ul li span.price {
    color: mediumturquoise;
    font-weight: 500;
}

#price {
    display: inline;
}

svg {
    border: 3px solid white;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

